footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #264653;
    color: #e9c46a;
    text-align: center;
  }
a{
 
    font-size: 20px;
    color: #e9c46a;
    margin-left: 10px;
    text-align: center;
  }
 