<div class="container text-center">
<img src="assets/img/1271393.png" alt="" srcset="">
<h1>About</h1>
<hr>
</div><div class=" container ">
<table>

    <td>
<div class="container ">
    <h3>Basel Mohamed</h3>
    <p>My name is Basel Mohamed, I'm a Web Developer/Designer. <br>
    I'm currently working as a freelancer, I am a Computer science <br>
    student at Future university in Egypt.
     </p>
     <p>
         I'm open to job opportunities with my Cv available <a href="http://">Here</a>
     </p>
</div></td>
<td></td><td></td><td></td><td></td>
<td>
    
        <table>
            <tr>
        <th colspan="2" class="text-center"><h3>TOOLBOX</h3></th></tr>
        <tr class="text-center">
            <td><h5> Photoshop</h5></td>
            <td><h5>Flash</h5></td>
            
        </tr><tr class="text-center">
            <td><h5>Visual Studio</h5></td>
            <td><h5>NetBeans</h5></td>
        </tr></table>
    <DIV class="mt-5">
        <table>
            <tr>
        <th colspan="2" class="text-center"><h3>SKILLSET</h3></th></tr>
        <tr >
            <td><h5><li> HTML5</li></h5></td>
            <td><h5><li>CSS3</li> </h5></td>
            
        </tr><tr>
            <td><h5><li>C++</li></h5></td>
            <td><h5><li>Java</li></h5></td>
        </tr>
        <tr >
            <td><h5><li>Javascript</li></h5></td>
            <td><h5><li>C#</li></h5></td>
        </tr>
    </table>
    </DIV>
    
</td>
</table></div>