.card{
    margin: 5px;
    margin-top: 55px;
    background-color: lightsalmon;
}
.card-header
{
    background-color: #e9c46a;
    border-color: lightsalmon;
    font-weight: bolder;
    font-family: cursive;
    color: #264653;
}
.card-body{
    background-color: #2a9d8f;
}
.btn{
    background-color: #2a9d8f;
    border-color: #f4a261;
    color:#f4a261 ;
    font-family: cursive; margin: 10px;;
}
.btn:hover{
    color: #2a9d8f;
    background-color: #f4a261;
   
}
