<div class="container text-center w-75">
    <div class="card w-75 mt-5 mx-auto" style="width: 18rem;">
        <img src="assets/img/1271393.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hello, I'm Basel Mohamed</h5>
          <p class="card-text">I'm 21 years old, I study Computer Science at Future University in Egypt</p>
          <a routerLink="/about" class="btn">About me</a>  <a routerLink="/projects" class="btn">Projects</a>
        </div>
      </div>
</div>
<router-outlet></router-outlet>
